:root{
  --primaryColor: #44a55f;
  --secondColor: #5ead66;
  --primaryColorHover:#33853b;
  --secondColorHover:#106b2a;
  --terdColor:#080e1a;
  --backColor: #243b55;
  --btnColor:#fb771a;
}
*{
  font-family: 'Overpass', sans-serif;
}
.body{
  color:white;
  font-size: 5px;
}
